.card {
    height: 46rem;
    position: relative;
    background-color: var(--color-white);
    border-radius: 3px;
    overflow: hidden;
    transition: all 1s ease-in-out 1s;

    &__btn {
        display: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: var(--color-white);
        padding: 1rem;
        z-index: 20;
        transition: all 1s ease-in-out 1s;
    }
    &:hover &__btn{
        display: inline-block;
        transform-origin: top;
        animation: btnMoveIn .8s ease-in 1s;
        animation-fill-mode: backwards;
        transform: translate(-50%, -50%);
    }

    &--1{
        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:before{
            animation: comeIn .8s ease-out;
            background-color: rgba(#8454c0, .8);
            height: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:after{
            animation: comeIn .8s ease-out;
            background-color: rgba(#8454c0, .8);
            height: 50%;
        }
    }
    &--2{
        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:before{
            animation: comeIn .8s ease-out;
            background-color: rgba(#60bd77, .8);
            height: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:after{
            animation: comeIn .8s ease-out;
            background-color: rgba(#60bd77, .8);
            height: 50%;
        }
    }
    &--3{
        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:before{
            animation: comeIn .8s ease-out;
            background-color: rgba(#c09965, .8);
            height: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 10;        
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover:after{
            animation: comeIn .8s ease-out;
            background-color: rgba(#c09965, .8);
            height: 50%;
        }
    }
    


    &__picture {
        height: 23rem;
        border-radius: 3px;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right,  rgba(#8454c0, .8), rgba(#753fb8, .8)),
            url(../../assets/img/tour-1.jpg);
        }
        &--2 {
            background-image: linear-gradient(to right,  rgba(#89b995, .8), rgba(#63a774, .8)),
            url(../../assets/img/tour-2.jpg);
        }
        &--3 {
            background-image: linear-gradient(to right,  rgba(#c7a375, .8), rgba(#ca9c60, .8)),
            url(../../assets/img/tour-3.jpg);
        }
        
    }

    &__title {
        font-size: 2.7rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: var(--color-white);
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        

        &-span {
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            &--1 {
                background-color: var(--color-primary);
            }
            &--2 {
                background-color: #63a774;
            }
            &--3 {
                background-color: #ca9c60;
            }
        }  
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--color-grey-light-2);
                }
            }
        }
    }

    
}
@keyframes comeIn {
    0% {
        height: 50%;
    }
    10% {
        height: 5%;
    }
    20% {
        height: 10%;
    }
    30% {
        height: 15%;
    }
    40% {
        height: 20%;
    }
    50% {
        height: 25%;
    }
    60% {
        height: 30%;
    }
    70% {
        height: 35%;
    }
    80% {
        height: 40%;
    }
    90% {
        height: 45%;
    }
    100% {
        height: 50%;
    }
}

@keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
      
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
}
@keyframes btnMoveIn {
    0%{
        opacity: 0;
        transform: translate(-50%, 0%);
    }
    20%{
        transform: translate(-50%, -10%);
    }
    40%{
        transform: translate(-50%, -20%);
    }
    60%{
        transform: translate(-50%, -30%);
    }
    80%{
        transform: translate(-50%, -40%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}