:root {
  --color-primary:#b881fc;
  --color-primary-light:#be8ff8;
  --color-primary-dark:#8c35f5;
  
  --color-secondary-light: #ffb900;
  --color-secondary-dark:#ff7730;
  
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark:#5643fa;
  
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  
  --default-font-size: 1.6rem;

  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem; 


  --phone: 37.5em;
  --tab-land: 56.25em;
  --tab-port: 75em;
  --big-desktop: 112.5em;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 56.25em) {//tab-land
      font-size: 56.25%;
  }
  @media only screen and (max-width: 75em) {//tab-port
      font-size: 50%;
  }
  @media only screen and (max-width: 112.5em) {//big-desktop
      font-size: 75%;
  }


}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;  
  color: var(--color-font-primary);
  padding: 3rem;

  @media only screen and (max-width: 56.25em) {//tab-land
    padding: 0;
  }
}
//LAYOUTS

.row {
  max-width: var(--grid-width);
  margin: 0 auto;

  &:not(:last-child){
      margin-bottom: var(--gutter-vertical); 
      
      @media only screen and (max-width: 75em) { //tab-port
          margin-bottom: var(--gutter-vertical-small);
      }
    } 
    @media only screen and (max-width: 75em) {//tab-port
        max-width: 50rem;
        padding: 0 3rem;
    }

  [class^="col-"] {
      float: left;

        &:not(:last-child) {
            margin-right: var(--gutter-horizontal);  
            
            @media only screen and (max-width: 75em) {//tab-port
                margin-right: 0;
                margin-bottom: var(--gutter-vertical-small);
            }
        } 
        @media only screen and (max-width: 75em){
            width: 100% !important;
        }    
    }

  .col-1-of-2{
      width: calc( (100% - var(--gutter-horizontal)) / 2);
  }
  .col-1-of-3 {
      width: calc( (100% - 2 * var(--gutter-horizontal)) / 3 );
  }
  .col-1-of-4 {
      width: calc( (100% - 3 * var(--gutter-horizontal)) / 4 );
  }
  .col-2-of-3 {
      width: calc(2* ((100% - 2 * var(--gutter-horizontal)) / 3) + var(--gutter-horizontal) );
  }
  .col-2-of-4 {
      width: calc(2* ((100% - 3 * var(--gutter-horizontal)) / 4) + var(--gutter-horizontal) );
  }
  .col-3-of-4 {
      width: calc(3* ((100% - 3 * var(--gutter-horizontal)) / 4) + 2 * var(--gutter-horizontal) );
  }
}
//UTILS
.u-text-center { text-align: center !important; }
.u-text-justify { text-align: justify !important; text-justify: inter-word !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { 
    margin-bottom: 4rem !important;

    @media only screen and (max-width: 75em) {//tab-port
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @media only screen and (max-width: 75em) {//tab-port
        margin-bottom: 5rem !important;
    }
}
.u-margin-top-small { 
    margin-top: 3rem !important;

    @media only screen and (max-width: 75em) {//tab-port
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-huge { margin-top: 10rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }